<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/{{root_path}}/css/styles.css">
  </head>
  <body>
    {{{body}}}
    <script src="/{{root_path}}/js/jquery.min.js"></script>
    <script src="/{{root_path}}/js/script.js"></script>
  </body>
</html>